
/*todo el CSS*/ 
* {
  box-sizing: border-box;
} 

header{ border: 3px ridge #8C6E1E  ;  background-color: #1C0030 ;color: #FFDCF0; 
    display: flex; justify-content: center; align-items: center; padding: 0.05%; }

    nav{ display: flex; gap: 18px;}

body {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400; color: #FFDCF0; 
  /* Imagen de patrón */
  background-image: url("../images/icon.png");
  background-repeat: repeat;
  background-size: 60px;          /* patrón más pequeño y sutil */
  background-position: center;

  /* Gradiente sutil para dar profundidad */
  background: linear-gradient(rgba(60,5,30,0.7), rgba(28,0,48,0.7)), url("../images/icon.png");
  background-repeat: repeat;
  background-size: 60px;

  /* Color base oscuro */
  background-color: #3C051E;

  position: relative;
  z-index: 0;
}

/* Overlay con blur + sombra neón */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* overlay oscuro semi-transparente */
  backdrop-filter: blur(6px);      /* desenfoque elegante */
  z-index: -1;                     /* debajo del contenido */

  /* opcional: un toque de “glow” suave tipo neón */
  box-shadow: inset 0 0 100px rgba(221, 170, 199, 0.3);
}

#logo{display: block; margin:20px auto ; width: 30%; height: auto;}

form {
      width: 500px;
      height: 300px;
      border: 5px groove #8C6E1E ;
      margin: auto;
      margin-bottom: 2%;
}
textarea{width: 100%;height: 50%;}
input, textarea, select, button {
  background-color: #1C0030;
  color: #FFDCF0;            
  border: 3px solid #8C6E1E;
}

footer {height: 50%;
    border: groove 3px #8C6E1E;    
    background-color: #1C0030 ;
    color: #FFDCF0;
    display: flex;              /* 👈 clave */
    justify-content: space-between; /* uno a la izquierda, otro a la derecha */
      align-items: center;        /* opcional: centra vertical */
    padding: 0 10px;}


/* IMAGENES*/
#diablitas{display:block; margin: 0 auto} /* Imagen principal*/


/*OTROS*/
strong{font-weight: 700; font-style: italic;}
h1{ font-weight: bolder;}

/* LINKS*/
    nav{text-decoration: none;}
    a{color: #FFDCF0; text-decoration: none;}
    a:hover{ color:#8C6E1E; text-decoration: underline;}
    a:active {color:#8a2251 ;}
